ul, html, body{
  margin: 0;
  padding: 0;
}


.App{
  font-family: 'Open Sans';
  display: grid;
  grid-template-columns: 105px auto;
  grid-template-rows: 1fr;
  justify-content: stretch;
  height: 100vh;
  grid-template-areas: "sidebar main";
}
.Container{
  padding:50px;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto;
 
}

